.details {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
}

.bg_image {
  width: 50%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back_button {
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: cornflowerblue;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 25px 30px;
  color: white;
  cursor: pointer;
}

.info {
  padding-right: 25px;
  width: 40%;
  justify-content: flex-end;
  align-items: flex-end;
}

.box {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 12px;
  background-color: #e5e5e5;
}

.darkbox {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 12px;
  background-color: #a8a8a8;
}

.description {
  width: 100%;
  padding: 20px 12px;
  font-size: 18px;
}
