.details {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
}

.bg_image {
  width: 60%;
  height: 100vh;
  position: relative;
}

.details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back_button {
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: cornflowerblue;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 20px 25px;
  padding-bottom: 12px;
  color: white;
  font-size: 25px;
}

.info {
  padding-right: 25px;
  width: 30%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 60px;
}

.info-title {
  margin-bottom: 8px;
}

.info-subtitle {
  margin-bottom: 30px;
}

.box {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 12px;
  background-color: #e5e5e5;
}

.darkbox {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 12px;
  background-color: #a8a8a8;
}

.description {
  width: 100%;
  padding: 20px 12px;
  font-size: 18px;
}

.home-reserve-btn {
  margin-top: 50px;
  padding: 20px;
  width: 160px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  font-size: 18px;
  border-radius: 50px;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .details.row {
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
  }

  .bg_image {
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

  .back_button {
    top: 10px;
    bottom: auto;
    right: 0;
    left: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: fixed;
  }

  .info {
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }

  .home-reserve-btn {
    margin-bottom: 100px;
  }

  .description {
    font-size: 14px;
    text-align: center;
  }
}
