.my-reservations-div h1 {
  font-size: 3rem;
  text-align: center;
  padding: 5rem 0 0 0;
}

.my-reservations-div p {
  color: var(--cadet-gray);
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  padding: 1rem 0;
  letter-spacing: 1px;
}

.my-reservations {
  gap: 10px;
  width: 90%;
  padding: 10px;
  align-items: center;
  padding-top: 2rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .my-reservations-div {
    width: auto;
    margin-left: 220px;
  }

  .my-reservations-div h1 {
    padding: 3rem 0 0 0;
  }
}
