.reserve__container {
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  gap: 15px;
}

label {
  padding: 0;
}

label > input,
.first-row > select {
  background-color: transparent;
  border: 1px solid var(--metalic-brown);
}

.first-row {
  justify-content: space-between;
  gap: 15px;
}

.reserve_form > input,
.reserve_form > select {
  background-color: transparent;
  border: 1px solid var(--metalic-brown);
}

.username {
  background-color: transparent;
  width: 50%;
  height: 4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--metalic-brown);
  border: none;
  box-shadow: none;
  border-radius: 8px;
}

.reserve_title {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--metalic-brown);
  text-align: center;
}

.trip-input {
  width: 50%;
  height: 4rem;
  padding: 0 0.7em;
  border-radius: 8px;
  font-weight: bold;
  background: var(--platinum);
  border: none;
  color: var(--metalic-brown);
}

.reserve_subtitle {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--metalic-brown);
  text-align: center;
}

.reserve_form {
  gap: 8px;
}

.departure-city-input {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0 0.7em;
  border-radius: 8px;
  font-weight: bold;
  background: var(--platinum);
  border: none;
  color: var(--metalic-brown);
}

.reserve-btn {
  margin: 15px auto;
  margin-bottom: 0;
  width: 125px;
  height: 4rem;
  border-radius: 8px;
  font-weight: bold;
  background: var(--metalic-brown);
  border: none;
  color: var(--platinum);
  cursor: pointer;
}
