.root-layout {
  display: flex;
  height: 100%;
  position: fixed;
  width: 100%;
}

.root-layout > nav {
  background-color: #f1f1f1;
  padding: 10px;
  padding-right: 0;
}

.desktop-nav {
  width: 280px;
}

.desktop-nav > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 8px 5px;
  padding-right: 0;
  display: block;
}

.desktop-nav > ul > li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.active {
  background-color: var(--background);
  color: white !important;
}
